@import '../variables';

.categories {
  flex: 1 1 auto;
  margin: 0px 10px 0px 0px;
  display: flex;
  overflow: auto;

  @media (max-width: $md2+px){
      width: 100%;
      margin: 0px 0px 20px 0px;
  }

  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: all $duration ease-in-out;
      @include noselect();

      &:not(:last-child){
        margin: 0px 10px 0px 0px;
      }

      @media (max-width: $md2+px){
        padding: 10px 20px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
